<head>
	<title>Checkers</title>
	<script src="./board.js"></script>
	<script src="./cell.js"></script>
	<script src="./checker.js"></script>
	<script src="./game.js"></script>
	<script src='./index.js'></script>
	<script src="./player.js"></script>
	<script src="./computer.js"></script>
	<script src="./ruler.js"></script>
	<script src="./simpleGame.js"></script>

	<link href="./style.css" rel="stylesheet">
</head>

<body>
	<div id="gameBoard" onclick="onBoardClick(event)"></div>
</body>