#gameBoard {
	width: 46vw;
	height: 46vw;
	border: 1px solid black;
}

.boardCell {
	width: 12.5%;
	height: 12.5%;
	float: left;
}

.container {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.checker {
	border-radius: 10vw;
	width: 5.7vw;
	height: 5.7vw;
}

.darkKingChecker {
	background-repeat: no-repeat;
    background-position: center; 
	background-size: 4.7vw 4.7vw;
	background-image: url('king2.png');
}

.lightKingChecker {
	background-repeat: no-repeat;
    background-position: center; 
	background-size: 4.7vw 4.7vw;
	background-image: url('king1.png');
}

.choosen {
	box-shadow: 0 0 3px 3px blue;
}
